// $primary-bg: rgb(20, 9, 26);
$primary-bg: rgb(7, 7, 29);
$green-light: #00cc00;
$green-primary: #009900;
// $blue-light: #0041cc;
// $blue-light: #96cc00;
$blue-light: #52cc00;
$blue-primary: #170099;

$dark-purple: #603cba;
$light-primary: rgb(245, 246, 248);
$light-darker-1: rgb(224, 231, 245);