body {
    // background-color: $primary-bg !important;
    // background-color: transparent;
    color: $light-primary !important;
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.highlight {
    color: $light-primary !important;
    text-shadow: 0 0 4px $green-yellow-light, 0 0 7px $green-yellow-light;
}