#horus {
    width: 290px;
    margin: 70px;
    &:hover { 
        -webkit-filter: drop-shadow(0 2px 5px $green-yellow-light);
        filter: drop-shadow(0 2px 5px $green-yellow-light);
      }
    animation: 3s linear 1s infinite alternate slidein;
}

.horus-container {
    margin: 50px;   
    padding: 0;
    width: 450px;
}

.social-link-container {
    flex-grow: 1;
    width: 120px;
    margin: 0.5rem 0;
    a {
    
        color: $light-darker-1 !important;
        &:hover {
            color: $light-primary !important;
            text-shadow: 0 0 4px $green-yellow-light, 0 0 7px $green-yellow-light;
        }
    
        &:active {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
        }
        padding: 0;
        .nav-link {
            padding: 0;
        }
    }
}


.not-floating-links {
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    direction: column;
}



@keyframes slidein {
    from { transform: translate(0, 0)}
    to   { transform: translate(0, 15px) }
}

@keyframes shake {
    2%, 18% {
        transform: translate3d(-0.5px, 0, 0);
    }

    4%, 16% {
        transform: translate3d(-0.5px, 0, 0);
    }

    6%, 10%, 14% {
        transform: translate3d(-0.5px, 0, 0);
    }

    8%, 12% {
        transform: translate3d(-0.5px, 0, 0);
    }
    
    18.1% {
        transform: translate3d(0px, 0, 0);
    }
  }

@media(max-width: 565px) {
    .floating-links .social-link-container a{
        display: none ;
    }

    #horus {
        margin: 0;
    }

    .horus-container {
        margin: 0;
    }
}

@media(min-width: 565px) {
    .not-floating-links .social-link-container a{
        display: none;
        color: red;
        background-color: red;
    }
}