.header-horus {
    margin-bottom: 120px;
}

#horus {
    max-width: 400px;
    &:hover {
        -webkit-filter: drop-shadow(0 2px 5px $green-yellow-light);
        filter: drop-shadow(0 2px 5px $green-yellow-light);
      }
    transform: translate(0, 65px);
    animation: 3s linear 1s infinite alternate slidein;
}

.nav-link {
    color: $light-darker-1 !important;

    &:hover {
        color: $light-primary !important;
        text-shadow: 0 0 4px $green-yellow-light, 0 0 7px $green-yellow-light;
    }

    &:active {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
    }
}



// @media (min-width: 768px) {
//     #horus{
//         transform: translate(-40px, 100px);
//     }
    
// }


// @media (min-width: 992px) {
//     #horus{
//         transform: translate(0, 100px);
//     }
// }

@keyframes slidein {
    from { transform: translate(0, 65px)}
    to   { transform: translate(0, 80px) }
}

@keyframes shake {
    2%, 18% {
        transform: translate3d(-0.5px, 0, 0);
    }

    4%, 16% {
        transform: translate3d(-0.5px, 0, 0);
    }

    6%, 10%, 14% {
        transform: translate3d(-0.5px, 0, 0);
    }

    8%, 12% {
        transform: translate3d(-0.5px, 0, 0);
    }
    
    18.1% {
        transform: translate3d(0px, 0, 0);
    }
  }