.info-block {
    border: 1px solid $light-primary;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 0.05rem;
    max-width: 550px;
}

@media (min-width: 768px) {
    info-block {
        margin: 1rem;
    }
}