.info-block {
  border-radius: 5px;
  font-size: 1.5rem;
  padding-top: 6rem;
  min-width: 250px;
  width: 85vw;
}
@media (min-width: 768px) {
  .info-block {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .info-block {
    max-width: 400px;
  }
}
